<a href="https://colab.research.google.com/github/badalkchy/learning-python/blob/main/Copy_of_Untitled9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
for i in range(3,31,3):
  print(i)

3
6
9
12
15
18
21
24
27
30

In [ ]:
for i in range(1,11):
  print(i, 'x', 3, '=', i*3)

1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

In [ ]:
for i in range(1,21):
  print(5,"x",i,"=",i*5)

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60
5 x 13 = 65
5 x 14 = 70
5 x 15 = 75
5 x 16 = 80
5 x 17 = 85
5 x 18 = 90
5 x 19 = 95
5 x 20 = 100

In [ ]:
for i in range (1,11):
  print(1,"x",i,"=",1*i,"     ","",2,"x",i,"=",2*i,"     ","",3,"x",i,"=",3*i,"     ","",4,"x",i,"=",4*i,"   ","",5,"x",i,"=",5*i,"   ","",6,"x",i,"=",6*i,"    ","",7,"x",i,"=",7*i,"    ","",8,"x",i,"=",8*i,"    ","",9,"x",i,"=",9*i,"    ","",10,"x",i,"=",10*i," ")

1 x 1 = 1        2 x 1 = 2        3 x 1 = 3        4 x 1 = 4      5 x 1 = 5      6 x 1 = 6       7 x 1 = 7       8 x 1 = 8       9 x 1 = 9       10 x 1 = 10
1 x 2 = 2        2 x 2 = 4        3 x 2 = 6        4 x 2 = 8      5 x 2 = 10      6 x 2 = 12       7 x 2 = 14       8 x 2 = 16       9 x 2 = 18       10 x 2 = 20
1 x 3 = 3        2 x 3 = 6        3 x 3 = 9        4 x 3 = 12      5 x 3 = 15      6 x 3 = 18       7 x 3 = 21       8 x 3 = 24       9 x 3 = 27       10 x 3 = 30
1 x 4 = 4        2 x 4 = 8        3 x 4 = 12        4 x 4 = 16      5 x 4 = 20      6 x 4 = 24       7 x 4 = 28       8 x 4 = 32       9 x 4 = 36       10 x 4 = 40
1 x 5 = 5        2 x 5 = 10        3 x 5 = 15        4 x 5 = 20      5 x 5 = 25      6 x 5 = 30       7 x 5 = 35       8 x 5 = 40       9 x 5 = 45       10 x 5 = 50
1 x 6 = 6        2 x 6 = 12        3 x 6 = 18        4 x 6 = 24      5 x 6 = 30      6 x 6 = 36       7 x 6 = 42       8 x 6 = 48       9 x 6 = 54       10 x 6 = 60
1 x 7 = 7        2 x 7 = 14        3 x 7 = 21        4 x 7 = 28      5 x 7 = 35      6 x 7 = 42       7 x 7 = 49       8 x 7 = 56       9 x 7 = 63       10 x 7 = 70
1 x 8 = 8        2 x 8 = 16        3 x 8 = 24        4 x 8 = 32      5 x 8 = 40      6 x 8 = 48       7 x 8 = 56       8 x 8 = 64       9 x 8 = 72       10 x 8 = 80
1 x 9 = 9        2 x 9 = 18        3 x 9 = 27        4 x 9 = 36      5 x 9 = 45      6 x 9 = 54       7 x 9 = 63       8 x 9 = 72       9 x 9 = 81       10 x 9 = 90
1 x 10 = 10        2 x 10 = 20        3 x 10 = 30        4 x 10 = 40      5 x 10 = 50      6 x 10 = 60       7 x 10 = 70       8 x 10 = 80       9 x 10 = 90       10 x 10 = 100

In [ ]:
for j in range(1,11):
  for i in range(1,11):
    print(i, 'x', j, '=', i*j)
  print()

1 x 1 = 1
2 x 1 = 2
3 x 1 = 3
4 x 1 = 4
5 x 1 = 5
6 x 1 = 6
7 x 1 = 7
8 x 1 = 8
9 x 1 = 9
10 x 1 = 10

1 x 2 = 2
2 x 2 = 4
3 x 2 = 6
4 x 2 = 8
5 x 2 = 10
6 x 2 = 12
7 x 2 = 14
8 x 2 = 16
9 x 2 = 18
10 x 2 = 20

1 x 3 = 3
2 x 3 = 6
3 x 3 = 9
4 x 3 = 12
5 x 3 = 15
6 x 3 = 18
7 x 3 = 21
8 x 3 = 24
9 x 3 = 27
10 x 3 = 30

1 x 4 = 4
2 x 4 = 8
3 x 4 = 12
4 x 4 = 16
5 x 4 = 20
6 x 4 = 24
7 x 4 = 28
8 x 4 = 32
9 x 4 = 36
10 x 4 = 40

1 x 5 = 5
2 x 5 = 10
3 x 5 = 15
4 x 5 = 20
5 x 5 = 25
6 x 5 = 30
7 x 5 = 35
8 x 5 = 40
9 x 5 = 45
10 x 5 = 50

1 x 6 = 6
2 x 6 = 12
3 x 6 = 18
4 x 6 = 24
5 x 6 = 30
6 x 6 = 36
7 x 6 = 42
8 x 6 = 48
9 x 6 = 54
10 x 6 = 60

1 x 7 = 7
2 x 7 = 14
3 x 7 = 21
4 x 7 = 28
5 x 7 = 35
6 x 7 = 42
7 x 7 = 49
8 x 7 = 56
9 x 7 = 63
10 x 7 = 70

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

1 x 9 = 9
2 x 9 = 18
3 x 9 = 27
4 x 9 = 36
5 x 9 = 45
6 x 9 = 54
7 x 9 = 63
8 x 9 = 72
9 x 9 = 81
10 x 9 = 90

1 x 10 = 10
2 x 10 = 20
3 x 10 = 30
4 x 10 = 40
5 x 10 = 50
6 x 10 = 60
7 x 10 = 70
8 x 10 = 80
9 x 10 = 90
10 x 10 = 100

In [ ]:
for i in range (1,11):
  print(2,"x",i,"=",i*2)

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

In [ ]:
for i in range(1,11):
  for j in range(1,11):
    print(i,"x",j,"=",i*j)
  print('\n',)

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10


2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20


3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30


4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40


5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50


6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60


7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70


8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80


9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90


10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
a=["Apple","Ball","Cat","Dog","Elephant","Fan","Gun"]
for i in a:
  print(i)

Apple
Ball
Cat
Dog
Elephant
Fan
Gun

In [ ]:
a=["Red","Blue","Green","Yellow","Orange","Violet","Indigo"]
b=['Tiger',"lion",'Peocock',"Monkey","Zebra","Jiraff","snake","Fish"]
c=["Alovera","Sunflower","Rose","Marigold","Jasmine","lotus","Cacttus"]
d=["potato","tomato","onion","cucmber","Cauliflower","ladyfinger","pumpkin"]
e=["Mango","guava","peach","Avocado","Banana","Apricot","Stowberry"]
f=["Cricket","Football","Table tannies","Batminton","Volley ball","Basket ball"]
x="Colors""  ""Animals""  ""Plant""  ""Vegetables""  ""Fruits""  ""Games"

#print(Choice)
x=int(input("Enter your choice :"))
if x==Colors:
  print(a)
  elif x==Animals:
    print(b)
    elif x==Plant:
      print(c)
      

 #if i==colors
  #for i in range(colors)

SyntaxError: ignored

In [ ]:
for i in range(1,11):
  print(i*1,'  ',i*2,"  ",i*3,"  ",i*4,"  ",i*5,"  ",i*6,"  ",i*7,"  ",i*8,"  ",i*9,"  ",i*10)

1    2    3    4    5    6    7    8    9    10
2    4    6    8    10    12    14    16    18    20
3    6    9    12    15    18    21    24    27    30
4    8    12    16    20    24    28    32    36    40
5    10    15    20    25    30    35    40    45    50
6    12    18    24    30    36    42    48    54    60
7    14    21    28    35    42    49    56    63    70
8    16    24    32    40    48    56    64    72    80
9    18    27    36    45    54    63    72    81    90
10    20    30    40    50    60    70    80    90    100